<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776316321962-2nhaaqa52qjla88qltanbjs9h28mks34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776316321962-2nhaaqa52qjla88qltanbjs9h28mks34</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776316321962-4162qcc4ssas8msvurabrd32a1cfha17.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAnnBAW8BtOvCESEYwtPZW2AwlGwIEg_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>776316321962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinnbyte.quicktowtrucker.quickTowTrucker</string>
	<key>PROJECT_ID</key>
	<string>quicktowapp</string>
	<key>STORAGE_BUCKET</key>
	<string>quicktowapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776316321962:ios:407af021e086f2ffbf50d3</string>
</dict>
</plist>